<ion-segment
  [value]="state?.filters?.tag || ''"
  (ionChange)="onChange($event)"
  [scrollable]="true"
  [swipeGesture]="false"
  [selectOnFocus]="false"
  style="
    --margin-top: 0;
    --margin-end: 0;
    --margin-bottom: 0;
    --margin-start: 0;
  "
  color="dark"
>
  <ion-segment-button *ngFor="let tag of tags" [value]="tag">
    <span *ngIf="tag === ''">
      {{ 'filters.tags.all' | translate }}
    </span>
    <span *ngIf="tag !== ''">
      {{ tagLabels[tag] }}
    </span>

    <ion-note class="filters--counter">{{ tagCount.get(tag) }}</ion-note>
  </ion-segment-button>
</ion-segment>
