<ng-container *ngFor="let tag of tags">
  <ion-button
    shape="round"
    (click)="onClick(tag)"
    [fill]="selectButton(tag) ? 'solid' : 'clear'"
    [color]="selectButton(tag) ? 'tertiary' : 'dark'"
    shape="round"
    size="small"
  >
    <span *ngIf="tag === ''"> {{ 'filters.tags.all' | translate }}</span>
    <span *ngIf="tag !== ''">
      {{ tagLabels[tag] }}
    </span>

    <span class="filters--counter">&nbsp;({{ tagCount.get(tag) }})</span>
  </ion-button>
  <br *ngIf="tag === ''" />
</ng-container>
