/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/****************************************************************************
 * Generic Lay-out:
 */
.frame {
  min-height: 100%;
}
.frame--sidebar {
  display: inline-block;
}
// Hard-coded to Ionic breakpoint "small"
// See: https://ionicframework.com/docs/layout/grid#default-breakpoints
@media (min-width: 576px) {
  .frame {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
  }
  .frame--sidebar {
    flex: 0 0 auto;
  }
  .frame--contents {
    flex: 1 1 auto;
  }
}

/****************************************************************************
 * Overrides to Ionic elements:
 */

//  Force text-wrap on <ion-select>
ion-select::part(placeholder),
ion-select::part(text) {
  white-space: normal !important;
}
// Force text-wrap on <ion-select-option>'s in an Alert
ion-alert.select-alert {
  --width: 33vw !important;
  --max-width: 66vw !important;

  .select-interface-option .alert-radio-label,
  .select-interface-option .alert-checkbox-label {
    white-space: normal !important;
  }
}

// Make numeric input data stand out more
input[type='tel'],
input[type='number'] {
  font-family: monospace !important;
  font-feature-settings: 'tnum';
}

/****************************************************************************
 * Utilities:
 */

/****************************************************************************
 * Overrides for PRINT:
 */
.only-print {
  display: none !important;
}
@media print {
  // Force content to be rendered over multiple pages, not scrolled
  body,
  .ion-page:not(.ion-page-hidden),
  .frame,
  ion-router-outlet,
  ion-content {
    position: initial;
    display: block;
    overflow: initial;
    contain: unset;
  }
  ion-content::part(scroll) {
    position: relative;
    contain: unset;
  }

  // Utility classes
  .no-print {
    display: none !important;
  }
  .only-print {
    display: block !important;
  }
  .only-print--page-break-before {
    page-break-before: always;
  }

  // Optimize readability/printability
  *::after,
  *::before,
  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  ion-row,
  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/****************************************************************************
 * Development / Debugging ONLY:
 */

.debug--container {
  outline: 1px dotted hotpink;
  padding: 0.5em;
}

.debug--placeholder {
  outline: 1px dashed hotpink;
  padding: 0.33em;
}
