# Environment configuration
# See: https://github.com/motdotla/dotenv#rules

##################################
# FRONT-END / CLIENT APP CONFIG: #
##################################
# To enable build optimizations etc.
NG_PRODUCTION=true

# The language that will be loaded first and used as a fallback
NG_DEFAULT_LOCALE='en'

# The (prefix of the) URL of the back-end API
API_URL='http://localhost:3000/api'


#################################
# BACK-END / SERVER API CONFIG: #
#################################
