<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <input type="submit" hidden /><!-- Make ENTER-to-submit work -->
  <ion-item>
    <ion-label position="stacked">{{
      'login-form.e-mail.label' | translate
    }}</ion-label>
    <ion-input
      [(ngModel)]="model.email"
      name="email"
      type="email"
      pattern="[a-zA-Z0-9.-_]+@[a-z0-9.-]+\.[a-z0-9]+"
      required
      inputmode="email"
      autocomplete="email username"
      clearInput="true"
      [disabled]="inProgress"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{
      'login-form.password.label' | translate
    }}</ion-label>
    <ion-input
      [(ngModel)]="model.password"
      name="password"
      type="password"
      required
      autocomplete="current-password"
      minlength="4"
      clearInput="true"
      clearOnEdit="false"
      [disabled]="inProgress"
    ></ion-input>
  </ion-item>
  <ion-button
    type="submit"
    expand="block"
    [disabled]="loginForm.invalid || inProgress"
  >
    {{ 'login-form.submit.label' | translate }}
    <ion-icon slot="end" name="enter" aria-hidden="true"></ion-icon>
  </ion-button>

  <ion-text *ngIf="logInError" color="warning">
    <p class="ion-text-center">
      <ion-icon name="warning" size="large" aria-hidden="true"></ion-icon><br />
      {{ 'login-form.error' | translate }} <code>{{ statusText }}</code>
    </p>
  </ion-text>
</form>
