<ng-container *ngFor="let comment of comments">
  <ion-card *ngIf="comment" class="ion-no-margin ion-margin-bottom">
    <ion-card-header class="ion-border-bottom">
      <strong>{{ comment.userName }}</strong>
      @
      <strong>
        <time [attr.datetime]="comment.created">
          {{ comment.created | date: 'yyyy-MM-dd - HH:mm' }}
        </time>
      </strong>
    </ion-card-header>
    <ion-card-content style="white-space: pre-line">
      {{ comment.text }}
    </ion-card-content>
  </ion-card>
</ng-container>
