<ion-content>
  <app-header class="no-print"> </app-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col style="max-width: 350px">
        <ion-row
          class="ion-justify-content-between ion-align-items-center ion-padding"
        >
          <ion-text color="dark">
            <h2>
              <strong>TODAY</strong>
            </h2>
          </ion-text>
          <ion-text class="ion-text-right" color="dark">
            <strong>{{ todayTop }}</strong> <br />
            <strong>{{ todayBottom }}</strong>
          </ion-text>
        </ion-row>

        <ion-card class="ion-padding" color="light">
          <ion-text class="ion-margin-vertical" color="dark">
            <p>
              <strong>{{ 'login-page.introduction' | translate }}</strong>
            </p>

            <p>
              <strong>{{ '_common.app-name' | translate }}</strong>
            </p>

            <p>
              {{ 'login-page.cta.message' | translate }}
              <br />
              {{ 'login-page.cta.login' | translate }}
            </p>

            <p>
              <strong>{{
                'login-page.requirements.browser.note' | translate
              }}</strong
              >: {{ 'login-page.requirements.browser.explanation' | translate }}
            </p>

            <br />
          </ion-text>
          <ion-row class="ion-justify-content-evenly">
            <ion-button color="dark" size="small" shape="round">
              {{ 'login-page.cta.video-guide-button' | translate }}
            </ion-button>
            <ion-button color="dark" size="small" shape="round">
              {{ 'login-page.cta.manual-button' | translate }}
            </ion-button>
          </ion-row>
        </ion-card>
        <ion-card class="ion-padding" color="light">
          <app-login-form></app-login-form>
        </ion-card>
        <br /><br /><br /><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
