<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button href="program/{{ programId }}">
      <ion-icon></ion-icon>
      <ion-label>Program overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="design" disabled="true">
      <ion-icon tab="design"></ion-icon>
      <ion-label>Design</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registration" disabled="true">
      <ion-icon tab="registration"></ion-icon>
      <ion-label>Registration</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="validation" disabled="true">
      <ion-icon tab="validation"></ion-icon>
      <ion-label>Validation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inclusion" disabled="true">
      <ion-icon tab="inclusion"></ion-icon>
      <ion-label>Inclusion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="review inclusion" disabled="true">
      <ion-icon tab="review inclusion"></ion-icon>
      <ion-label>Review inclusion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payment" disabled="true">
      <ion-icon tab="payment"></ion-icon>
      <ion-label>Payment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="monitoring-evaluation" disabled="true">
      <ion-icon tab="monitoring-evaluation"></ion-icon>
      <ion-label>Monitoring & evaluation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon tab="report"></ion-icon>
      <ion-label>Narrative report</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
