<div>
  <ion-button
    [routerLink]="['/program', programId, 'overview']"
    routerLinkActive
    #rlaPhaseOverview="routerLinkActive"
    color="medium"
    size="small"
    [fill]="
      rlaPhaseOverview.isActive && !rlaPhaseReport.isActive ? 'solid' : 'clear'
    "
  >
    {{ 'phases.overview' | translate }}
  </ion-button>

  <ion-button disabled color="medium" size="small" fill="clear">
    {{ 'phases.design' | translate }}
  </ion-button>

  <ion-button disabled color="medium" size="small" fill="clear">
    {{ 'phases.registration' | translate }}
  </ion-button>

  <ion-button disabled color="medium" size="small" fill="clear">
    {{ 'phases.validation' | translate }}
  </ion-button>

  <ion-button disabled color="medium" size="small" fill="clear">
    {{ 'phases.inclusion' | translate }}
  </ion-button>

  <ion-button disabled color="medium" size="small" fill="clear">
    {{ 'phases.review-inclusion' | translate }}
  </ion-button>

  <ion-button disabled color="medium" size="small" fill="clear">
    {{ 'phases.payment' | translate }}
  </ion-button>

  <ion-button disabled color="medium" size="small" fill="clear">
    {{ 'phases.monitoring-evaluation' | translate }}
  </ion-button>

  <ion-button
    [routerLink]="['/program', programId, 'report']"
    routerLinkActive
    #rlaPhaseReport="routerLinkActive"
    color="medium"
    size="small"
    [fill]="rlaPhaseReport.isActive ? 'solid' : 'clear'"
  >
    {{ 'phases.report' | translate }}
  </ion-button>
</div>
