<div>
  <ion-button
    [routerLink]="['/program', programId, 'overview']"
    [routerLinkActive]="'is-active'"
    [routerLinkActiveOptions]="{ exact: true }"
    #rlaPhaseOverview="routerLinkActive"
    color="dark"
    fill="clear"
    [attr.aria-current]="rlaPhaseOverview.isActive ? 'page' : null"
    class="fake-tab-button ion-no-margin"
  >
    {{ 'phases.overview' | translate }}
  </ion-button>

  <ion-button
    [routerLink]="['/program', programId, 'report']"
    [routerLinkActive]="'is-active'"
    [routerLinkActiveOptions]="{
      exact: true,
      matrixParams: 'exact',
      queryParams: 'exact',
      paths: 'exact',
      fragment: 'exact'
    }"
    #rlaPhaseReport="routerLinkActive"
    color="dark"
    fill="clear"
    [attr.aria-current]="rlaPhaseReport.isActive ? 'page' : null"
    class="fake-tab-button ion-no-margin"
  >
    {{ 'phases.report' | translate }}
  </ion-button>
  <ion-button
    [routerLink]="['/program', programId, 'report']"
    [routerLinkActive]="'is-active'"
    [routerLinkActiveOptions]="{
      matrixParams: 'exact',
      queryParams: 'exact',
      paths: 'exact',
      fragment: 'exact'
    }"
    #rlaPhaseAppendix="routerLinkActive"
    fragment="appendix"
    color="dark"
    fill="clear"
    [attr.aria-current]="rlaPhaseAppendix.isActive ? 'page' : null"
    class="fake-tab-button ion-no-margin"
  >
    {{ 'phases.appendix' | translate }}
  </ion-button>
</div>
