.fake-tab-button {
  position: relative;
  border-bottom: 1px solid transparent;
  font-weight: normal;

  --background: transparent !important;
  --background-hover: transparent !important;
  --background-hover-opacity: 0 !important;

  &.is-active {
    z-index: 1;

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      pointer-events: none;
    }
    &::before {
      z-index: -1;
      top: 100%;
      left: 0;
      right: 0;
      border-bottom: 1px solid var(--ion-color-tertiary);
    }
    &::after {
      z-index: -2;
      top: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
      bottom: -1rem;

      background: #f6f7f8;
    }
  }
}
