<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button
      href="/home"
      routerDirection="root"
      [attr.title]="'app-header.home' | translate"
      [attr.aria-label]="'app-header.home' | translate"
    >
      <ion-icon
        name="home-sharp"
        slot="icon-only"
        size="small"
        aria-hidden="true"
      ></ion-icon>
    </ion-button>
  </ion-buttons>

  <ng-content></ng-content>

  <ion-buttons slot="end">
    <ion-button
      (click)="toggleDarkMode()"
      [title]="'app-header.toggle-dark-mode' | translate"
      [attr.ariaLabel]="'app-header.toggle-dark-mode' | translate"
      fill="clear"
      shape="round"
      size="small"
    >
      <ion-icon
        *ngIf="darkModeEnabled()"
        name="sunny"
        slot="icon-only"
        size="small"
        aria-hidden="true"
      ></ion-icon>
      <ion-icon
        *ngIf="!darkModeEnabled()"
        name="moon"
        slot="icon-only"
        size="small"
        aria-hidden="true"
      ></ion-icon>
    </ion-button>

    <app-user-state class="ion-margin-start"></app-user-state>
  </ion-buttons>
</ion-toolbar>
