<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button
      href="/home"
      routerDirection="root"
      title="Home"
      aria-label="Home"
    >
      <ion-icon
        name="home-sharp"
        slot="icon-only"
        size="small"
        aria-hidden="true"
      ></ion-icon>
    </ion-button>
  </ion-buttons>

  <ng-content></ng-content>

  <ion-buttons slot="end">
    <ion-button [disabled]="true" title="User menu" aria-label="User menu">
      <ion-icon
        name="person-circle"
        slot="icon-only"
        aria-hidden="true"
      ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
