<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button
      href="/home"
      routerDirection="root"
      [attr.title]="'app-header.home' | translate"
      [attr.aria-label]="'app-header.home' | translate"
    >
      <ion-icon
        name="apps"
        slot="icon-only"
        size="small"
        aria-hidden="true"
      ></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-row class="ion-align-items-center">
    <ion-img
      style="width: 16px; height: 16px"
      src="assets/img/navy-logo.svg"
      alt=""
      loading="lazy"
    ></ion-img>
    <ion-title>
      <ion-text color="dark">
        <strong>{{ 'login-page.page-title' | translate }}</strong>
      </ion-text>
      &nbsp;
      <ion-text
        color="tertiary"
        *ngIf="programName"
      >
        {{ programName }}
      </ion-text>
    </ion-title>
  </ion-row>

  <ion-buttons slot="end">
    <app-user-state class="ion-margin-start"></app-user-state>
  </ion-buttons>
</ion-toolbar>
