<ion-header>
  <app-header>
    <ion-title>{{ 'app-header.app-name' | translate }}</ion-title>
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <!-- ------------------------------------------------------------------------- -->
  <!-- This content is not for production-use, so doesn't need to be translated: -->
  <!-- ------------------------------------------------------------------------- -->

  <h2>About</h2>
  <p>
    This is a preview of the development of the Cash Program Design Wizard.<br />
    See for more details on GitHub:
    <a
      href="https://github.com/rodekruis/cash-program-design-wizard"
      target="_blank"
      rel="external noopener noreferrer"
      >rodekruis/cash-program-design-wizard</a
    >
  </p>

  <h2>Demo</h2>
  <ul>
    <li>
      <a routerLink="/home">/home</a> - This page, used as a starting point

      <ul class="ion-margin-vertical">
        <li>
          <a routerLink="/home" [queryParams]="{ tag: 'people' }"
            >/home?tag=people</a
          >
          - Sets the filters to a defined tag
        </li>
      </ul>
    </li>
    <li><a routerLink="/login">/login</a> - Login page</li>
    <li>
      <a routerLink="/program">/program</a> - The 'detail'-page for each Cash
      Program form/document

      <ul class="ion-margin-vertical">
        <li>
          <a routerLink="/program/123/overview">/program/123/overview</a> - The
          "input/edit"-view

          <ul class="ion-margin-vertical">
            <li>
              Deep-link to:
              <a
                routerLink="/program/123/overview"
                [queryParams]="{ section: 'test1' }"
                >Test Section 1</a
              >
            </li>
            <li>
              Deep-link to:
              <a
                routerLink="/program/123/overview"
                [queryParams]="{ section: 'test2-answers' }"
                >Test section 2 - with answers</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/program/123/report">/program/123/report</a> - The
          "print"-view
        </li>
      </ul>
    </li>
  </ul>

  <hr class="ion-margin-vertical" style="border-top-width: 1px" />

  <div style="display: flex; max-width: 10em" class="ion-align-items-center">
    <strong>Set Language:</strong>

    <ion-segment
      (ionChange)="changeLanguage($event)"
      value="en"
      color="secondary"
      [swipeGesture]="false"
    >
      <ion-segment-button value="en">
        <ion-label>EN</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nl">
        <ion-label>NL</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <br />

  <ion-button (click)="apiTestGet()" [disabled]="apiTestInProgress">
    API: GET /
  </ion-button>

  <hr class="ion-margin-vertical" style="border-top-width: 1px" />

  <pre class="debug--container">
DEBUG INFO:
-----------

State:
filters: {{ state.filters | json }}
viewMode: {{ state.viewMode }}
  </pre>
</ion-content>
