<ion-header>
  <app-header>
    <ion-title>{{ 'app-header.app-name' | translate }}</ion-title>
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <!-- ------------------------------------------------------------------------- -->
  <!-- This content is not for production-use, so doesn't need to be translated: -->
  <!-- ------------------------------------------------------------------------- -->

  <h2>About</h2>
  <p>
    This is a preview of the development of the Cash Program Design Wizard.<br />
    See for more details on GitHub:
    <a
      href="https://github.com/rodekruis/cash-program-design-wizard"
      target="_blank"
      rel="external noopener noreferrer"
      >rodekruis/cash-program-design-wizard</a
    >
  </p>

  <h2>Demo</h2>
  <ul>
    <li>
      <a routerLink="/home">/home</a> - This page, used as a starting point.

      <ul class="ion-margin-vertical">
        <li>
          <a routerLink="/home" [queryParams]="{ role: 'IF' }">/home?role=IF</a>
          - Sets the filters to a defined role.
        </li>
        <li>
          <a routerLink="/home" [queryParams]="{ role: 'HQ', topic: 'cash' }"
            >/home?role=HQ&topic=cash</a
          >
          - Sets the filters to a defined role + topic.
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/program">/program</a> - The 'detail'-page for each Cash
      Program form/document

      <ul class="ion-margin-vertical">
        <li>
          <a routerLink="/program/123/">/program/123/*</a> - The
          program/document ID is in the URL-path.
        </li>
      </ul>
    </li>
  </ul>

  <hr class="ion-margin-vertical" style="border-top-width: 1px" />

  <h2>Debug information</h2>
  <pre
    id="debug-container"
    class="ion-padding"
    style="border: 1px dashed hotpink"
  >
State:
filters: {{ state.filters | json }}
viewMode: {{ state.viewMode }}
  </pre>
</ion-content>
