.ion-margin-horizontal {
  background-color: var(--ion-color-dark);
  border-radius: 10px;
  padding: 2px 28px;
}

// .ion-no-margin,
// .ion-nowrap-nav-progress--prev,
// .ion-nowrap-nav-progress--next {
//   border: 1px solid var(--ion-color-dark) ;
// }

// .ion-nowrap-nav-progress--prev {
//   margin-right: 0;
// }

// .ion-nowrap-nav-progress--next {
//   margin-left: 0;
// }
