<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">
        <div class="ion-margin-vertical ion-text-center">
          <ion-input
            type="text"
            [spellcheck]="true"
            autocorrect="on"
            autocapitalize="on"
            [attr.title]=""
            [(ngModel)]="secret"
          ></ion-input>
          <ion-button color="tertiary" (click)="getCsv(true)">
            Get CSV
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
