<h3 [id]="section?.name">
  <a
    [routerLink]="['/', 'program', this.programId, 'overview']"
    [queryParams]="{ section: section?.name }"
    [title]="'report-section.go-to-input' | translate"
    class="no-print"
    style="text-decoration: none"
    >#</a
  >
  {{ section?.label }}
</h3>

<ion-grid class="report-section-values">
  <div
    *ngFor="let subsection of section?.subsections"
    class="ion-margin-vertical"
  >
    <ng-container *ngFor="let question of subsection.questions">
      <ion-row class="report-section-values--row">
        <ion-col
          [size]="12"
          [sizeSm]="6"
          [sizeLg]="4"
          class="report-section-values--question"
        >
          <strong>{{ question.label }}</strong>
          <br />
          <small>
            <code>{{ question.name }}</code>
          </small>
        </ion-col>
        <ion-col
          [size]="12"
          [sizeSm]="6"
          [sizeLg]="8"
          class="report-section-values--answer"
        >
          <div *ngIf="!question.answer">
            <ion-note>-</ion-note>
          </div>
          <div *ngIf="question.answer">
            <ng-container [ngSwitch]="question.type">
              <ng-container *ngSwitchCase="questionType.select1">
                <div>
                  {{ renderOptionChoiceAnswer(question, question.answer) }}
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="questionType.selectN">
                <div *ngFor="let option of question.answer">
                  {{ renderOptionChoiceAnswer(question, option) }}
                </div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <div
                  [innerText]="question.answer"
                  style="max-width: 33em"
                ></div>
              </ng-container>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>
  </div>
</ion-grid>
