.report-section--question-link {
  font-family: monospace;
  font-weight: bold;
  text-decoration: none;

  &:link {
    color: var(--ion-color-tertiary);
  }
  &:visited {
    color: var(--ion-color-tertiary-shade);
  }
}

.report-section-values--row {
  border-top: 1px solid var(--ion-color-medium-shade);

  &:last-of-type {
    border-bottom: 1px solid var(--ion-color-medium-shade);
  }
}
