<div *ngIf="report">
  <ion-row
    class="no-print ion-justify-content-end ion-padding-vertical ion-margin-vertical"
  >
    <ion-button
      type="button"
      fill="outline"
      color="tertiary"
      shape="round"
      (click)="copy2Clipboard(rawReport)"
    >
      <ion-icon
        name="clipboard"
        aria-hidden="true"
        slot="start"
      ></ion-icon>
      {{ 'report-narrative.copy-to-clipboard' | translate }}
    </ion-button>

    <ion-button
      type="button"
      (click)="print()"
      fill="outline"
      color="tertiary"
      shape="round"
    >
      <ion-icon
        name="print"
        aria-hidden="true"
        slot="start"
      ></ion-icon>
      {{ 'report-narrative.print' | translate }}
    </ion-button>
  </ion-row>

  <div class="fake-page">
    <h2>{{ 'report.title' | translate }}: {{ programName }}</h2>

    <div>
      {{ 'report-narrative.last-updated' | translate }}
      {{ lastUpdate | date: 'dd-MM-YYYY HH:mm' }}
    </div>
    <div
      ngPreserveWhitespaces
      [innerHTML]="report"
      class="ion-margin-vertical"
    ></div>
  </div>
</div>
