textarea {
  resize: vertical;
  width: 100%;
  min-height: 6em;
  padding: 0.5em;
  border: 1px solid var(--ion-color-medium-shade);
  color: var(--ion-color-light-contrast);
  background-color: transparent;
}
