<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      Add comment {{ commentLength }}/{{ charLimit }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <form (ngSubmit)="onSubmit()">
      <ion-textarea
        [(ngModel)]="comment"
        name="text"
        (ionChange)="onType($event)"
        class="ion-margin-bottom"
      ></ion-textarea>
      <ion-button [disabled]="submitDisabled" type="submit">Submit</ion-button>
    </form>
  </ion-card-content>
</ion-card>
