<ion-content>
  <app-header>
    <ion-title>
      {{ 'program.page-title' | translate: { name: name || '' } }}
    </ion-title>
  </app-header>
  <div class="frame">
    <div class="frame--sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="frame--contents">
      <!--

      -->
      <ion-progress-bar
        *ngIf="!id"
        type="indeterminate"
        class="ion-margin"
      ></ion-progress-bar>

      <ng-container *ngIf="id">
        <div class="ion-margin">
          <app-program-phase [programId]="id"></app-program-phase>
        </div>

        <ion-progress-bar
          *ngIf="state?.isLoading || !state?.activeSection"
          type="indeterminate"
          class="ion-margin"
        ></ion-progress-bar>

        <ion-row
          *ngIf="state?.activeSection"
          class="toolbar-sticky ion-margin-vertical ion-padding-horizontal ion-align-items-end"
        >
          <ion-col size="12" [sizeMd]="5">
            <app-filters
              style="display: inline-block; max-width: 100%"
            ></app-filters>
          </ion-col>
          <ion-col size="12" [sizeMd]="7">
            <app-nav-progress></app-nav-progress>
          </ion-col>
        </ion-row>

        <div class="ion-margin-vertical">
          <app-question-section
            [section]="state?.activeSection"
          ></app-question-section>
        </div>
      </ng-container>
      <!--

      -->
    </div>
  </div>
</ion-content>
