<ion-content>
  <app-header [programName]="name"> </app-header>

  <ion-progress-bar
    *ngIf="!id || state?.isLoading || !state?.activeSection"
    type="indeterminate"
  ></ion-progress-bar>

  <ng-container *ngIf="id">
    <ion-row style="background-color: #fff">
      <ion-col
        [sizeLg]="1"
        class="ion-hide-lg-down"
      ></ion-col>
      <ion-col
        [size]="12"
        [sizeMd]="5"
        [pushMd]="7"
        [sizeLg]="5"
        [pushLg]="6"
        class="ion-text-end ion-padding-vertical"
      >
        <app-status></app-status>
      </ion-col>
      <ion-col
        [size]="12"
        [sizeMd]="7"
        [pullMd]="5"
        [sizeLg]="6"
        [pullLg]="5"
        class="ion-align-self-end"
      >
        <app-program-phase [programId]="id"></app-program-phase>
      </ion-col>
    </ion-row>
    <div
      *ngIf="state?.activeSection"
      class="toolbar-sticky ion-padding background--grey"
    >
      <ion-row>
        <ion-col
          [sizeLg]="1"
          class="ion-hide-lg-down"
        ></ion-col>
        <ion-col>
          <app-filters
            style="display: inline-block; max-width: 100%"
          ></app-filters>
        </ion-col>
        <ion-col
          [sizeLg]="1"
          class="ion-hide-lg-down"
        ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          [sizeLg]="1"
          class="ion-hide-lg-down"
        ></ion-col>
        <ion-col
          [size]="12"
          [sizeMd]="9"
          [sizeLg]="7"
          class="ion-padding-top"
        >
          <h3>
            #{{ state?.activeSection?.sectionNr }}:&nbsp;
            <span [innerHTML]="state?.activeSection?.label"></span>
          </h3>
        </ion-col>
        <ion-col
          [size]="12"
          [sizeMd]="3"
          [sizeLg]="3"
          class="ion-align-self-end ion-text-end"
        >
          <app-nav-progress></app-nav-progress>
        </ion-col>
        <ion-col
          [sizeLg]="1"
          class="ion-hide-lg-down"
        ></ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col
        [sizeLg]="1"
        class="ion-hide-lg-down"
      ></ion-col>
      <ion-col>
        <app-question-section
          [section]="state?.activeSection"
          style="display: block"
        ></app-question-section>
      </ion-col>
      <ion-col
        [sizeLg]="1"
        class="ion-hide-lg-down"
      ></ion-col>
    </ion-row>
  </ng-container>
</ion-content>
