<ion-grid>
  <ion-row>
    <ion-col class="ion-padding-horizontal">
      <h3 class="ion-no-margin">{{ section?.label }}</h3>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-stretch ion-margin-vertical">
    <ion-col
      *ngFor="let subsection of section?.subsections"
      [sizeXs]="12"
      [sizeMd]="6"
      [sizeLg]="4"
      style="display: flex; flex-direction: column"
    >
      <ion-card class="ion-padding question-card">
        <div *ngIf="isSubSectionEmpty(subsection)">
          <ion-note>
            {{ 'question-section.no-questions' | translate }}
          </ion-note>
        </div>
        <div
          *ngFor="let question of subsection?.questions"
          [hidden]="!shouldShowQuestion(question.tags)"
        >
          <app-question-input
            style="flex: 1 1 auto"
            [question]="question"
            [canEdit]="canEdit"
          ></app-question-input>

          <details *ngIf="showComments(question)" class="ion-margin-vertical">
            <summary>
              <div style="display: flex">
                <div
                  [ngSwitch]="question.comments.length"
                  style="flex: 1 1 auto"
                >
                  <ion-label *ngSwitchCase="0" color="primary">
                    <strong>
                      {{ 'question-section.no-comments' | translate }}
                    </strong>
                  </ion-label>
                  <ion-label *ngSwitchDefault color="primary">
                    <strong>
                      {{ 'question-section.comments' | translate }}
                      {{ question.comments.length }}
                    </strong>
                  </ion-label>
                </div>
                <ion-icon
                  name="chevron-down"
                  color="primary"
                  class="details-closed"
                  style="align-self: flex-end"
                ></ion-icon>
                <ion-icon
                  name="chevron-up"
                  color="primary"
                  class="details-open"
                  style="align-self: flex-end"
                ></ion-icon>
              </div>
            </summary>
            <app-comments-list
              *ngIf="question.comments"
              [comments]="question.comments"
            ></app-comments-list>
            <app-comment-input [question]="question"></app-comment-input>
          </details>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
