<ion-grid>
  <ion-row>
    <ion-col class="ion-padding-horizontal">
      <h3>{{ section?.label }}</h3>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-stretch ion-margin-vertical">
    <ion-col
      *ngFor="let subsection of section?.subsections"
      [sizeXs]="12"
      [sizeMd]="6"
      [sizeLg]="4"
      style="display: flex; flex-direction: column"
    >
      <ion-card class="ion-padding" color="light">
        <div
          *ngFor="let question of subsection.questions"
          [hidden]="!shouldShowQuestion(question.tags)"
        >
          <div style="flex: 1 1 auto">
            <div class="ion-padding-vertical">
              <ion-badge
                *ngFor="let tag of question.tags"
                class="ion-margin-start ion-float-end"
                color="medium"
                >{{ tagLabels[tag] }}</ion-badge
              >
              <strong>{{ question.label }}</strong>
            </div>
            <ion-item>
              <ng-container [ngSwitch]="question.type">
                <ng-container *ngSwitchCase="questionTypes.select1">
                  <ion-select
                    [placeholder]="
                      'question-section.fields.select-1.placeholder' | translate
                    "
                    [multiple]="false"
                    [attr.title]="question.label"
                    [(ngModel)]="question.answer"
                    [cancelText]="'common.cancel' | translate"
                    [okText]="'common.ok' | translate"
                    (ionChange)="onChangeAnswer(question)"
                  >
                    <ion-select-option
                      *ngFor="let option of question.optionChoices"
                      [value]="option.name"
                      [innerText]="option.label"
                    ></ion-select-option>
                  </ion-select>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypes.selectN">
                  <ion-select
                    [placeholder]="
                      'question-section.fields.select-n.placeholder' | translate
                    "
                    [multiple]="true"
                    [attr.title]="question.label"
                    [(ngModel)]="question.answer"
                    [cancelText]="'common.cancel' | translate"
                    [okText]="'common.ok' | translate"
                    (ionChange)="onChangeAnswer(question)"
                  >
                    <ion-select-option
                      *ngFor="let option of question.optionChoices"
                      [value]="option.name"
                      [innerText]="option.label"
                    ></ion-select-option>
                  </ion-select>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypes.numeric">
                  <ion-input
                    type="number"
                    inputmode="decimal"
                    pattern="[0-9]+"
                    [attr.title]="question.label"
                    [(ngModel)]="question.answer"
                    (ionChange)="onChangeAnswer(question)"
                    [debounce]="600"
                  ></ion-input>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypes.textLong">
                  <ion-textarea
                    rows="2"
                    [autoGrow]="true"
                    [spellcheck]="true"
                    autocorrect="on"
                    autocapitalize="on"
                    [attr.title]="question.label"
                    [(ngModel)]="question.answer"
                    (ionChange)="onChangeAnswer(question)"
                    [debounce]="600"
                  ></ion-textarea>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <ion-input
                    type="text"
                    [spellcheck]="true"
                    autocorrect="on"
                    autocapitalize="on"
                    [attr.title]="question.label"
                    [(ngModel)]="question.answer"
                    (ionChange)="onChangeAnswer(question)"
                    [debounce]="600"
                  ></ion-input>
                </ng-container>
              </ng-container>
            </ion-item>
          </div>
          <details *ngIf="showComments(question)" class="ion-margin-vertical">
            <summary>
              <ion-item lines="full" fill="clear">
                <ng-container [ngSwitch]="question.comments.length">
                  <ion-label *ngSwitchCase="0" color="primary"
                    ><strong>{{
                      'question-section.no-comments' | translate
                    }}</strong></ion-label
                  >
                  <ion-label *ngSwitchDefault color="primary">
                    <strong>
                      {{ 'question-section.comments' | translate }}
                      {{ question.comments.length }}
                    </strong>
                  </ion-label>
                </ng-container>
                <ion-icon
                  name="chevron-down"
                  slot="end"
                  color="primary"
                  class="details-closed"
                ></ion-icon>
                <ion-icon
                  name="chevron-up"
                  slot="end"
                  color="primary"
                  class="details-open"
                ></ion-icon>
              </ion-item>
            </summary>
            <app-comments-list
              *ngIf="question.comments"
              [comments]="question.comments"
            ></app-comments-list>
            <app-comment-input [question]="question"></app-comment-input>
          </details>
        </div>
        <div *ngIf="isSubSectionEmpty(subsection)">
          <ion-note>
            {{ 'question-section.no-questions' | translate }}
          </ion-note>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- <ion-icon name="arrow-down" slot="end"></ion-icon> -->
