details {
  summary {
    list-style: none;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .details-closed {
    display: inline;
  }

  .details-open {
    display: none;
  }

  &[open] {
    .details-closed {
      display: none;
    }

    .details-open {
      display: inline;
    }
  }
}

.question-card {
  box-shadow: 2px 0px 10px 0px #0000000f;
}
