# For more information regarding Static Web App workflow configurations,
# See: https://aka.ms/swaworkflowconfig
# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: CD Azure Static Web App - development

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/azure-static-web-apps-orange-grass-0aefaa103.yml
      - client/**
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
      - '!dependabot/**'
    paths:
      - .github/workflows/azure-static-web-apps-orange-grass-0aefaa103.yml
      - client/**

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    environment: 'development'
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          skip_deploy_on_missing_secrets: true
          ###### Start of Repository/Build Configurations ######
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ORANGE_GRASS_0AEFAA103 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: 'upload'
          app_location: 'client'
          app_build_command: 'npm run build:production'
          output_location: 'www'
          ###### End of Repository/Build Configurations ######
        env:
          DEBUG: ${{ secrets.DEBUG }}
          ENV_NAME: ${{ secrets.ENV_NAME }}
          API_URL: ${{ secrets.API_URL }}

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ORANGE_GRASS_0AEFAA103 }}
          action: 'close'
